In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [6]:
cd C:\Users\Dell\Desktop\Advanced Machine Learning\Practical 2

C:\Users\Dell\Desktop\Advanced Machine Learning\Practical 2

In [17]:
df = pd.read_csv('Houses_train.csv')
df.head()

,Unnamed: 0,price,condition,district,max_floor,street,num_rooms,region,area,url,num_bathrooms,building_type,floor,ceiling_height
0,5546,130000.0,newly repaired,Center,4,Sayat Nova Ave,3,Yerevan,96.0,http://www.myrealty.am/en/item/28244/3-senyaka...,1,stone,3,3.2
1,2979,65000.0,good,Arabkir,5,Hr.Kochar St,3,Yerevan,78.0,http://www.myrealty.am/en/item/18029/3-senyaka...,1,stone,2,2.8
2,2698,129000.0,good,Center,10,M.Khorenatsi St,3,Yerevan,90.0,http://www.myrealty.am/en/item/37797/3-senyaka...,1,panel,3,2.8
3,4548,52000.0,newly repaired,Center,14,Argishti St,2,Yerevan,53.0,http://www.myrealty.am/en/item/36153/2-senyaka...,1,monolit,5,3.0
4,2982,65000.0,newly repaired,Center,12,Mashtots Ave,2,Yerevan,47.0,http://www.myrealty.am/en/item/17566/2-senyaka...,1,panel,3,2.8

In [18]:
df.nunique()

Unnamed: 0        5000
price              333
condition            3
district            13
max_floor           23
street             336
num_rooms            6
region               1
area               122
url               5000
num_bathrooms        4
building_type        4
floor               20
ceiling_height       5
dtype: int64

In [19]:
df=df.drop(['region','url','Unnamed: 0'],axis=1)
df.head()

,price,condition,district,max_floor,street,num_rooms,area,num_bathrooms,building_type,floor,ceiling_height
0,130000.0,newly repaired,Center,4,Sayat Nova Ave,3,96.0,1,stone,3,3.2
1,65000.0,good,Arabkir,5,Hr.Kochar St,3,78.0,1,stone,2,2.8
2,129000.0,good,Center,10,M.Khorenatsi St,3,90.0,1,panel,3,2.8
3,52000.0,newly repaired,Center,14,Argishti St,2,53.0,1,monolit,5,3.0
4,65000.0,newly repaired,Center,12,Mashtots Ave,2,47.0,1,panel,3,2.8

In [20]:
df['condition'].value_counts()

newly repaired    2867
good              1713
zero condition     420
Name: condition, dtype: int64

In [21]:
df['district'].value_counts()

Center              2086
Arabkir             1320
Avan                 252
Malatia-Sebastia     235
Davtashen            235
Nor Norq             233
Qanaqer-Zeytun       201
Achapnyak            192
Shengavit            163
Erebuni               75
Norq Marash            5
Vahagni district       2
Nubarashen             1
Name: district, dtype: int64

In [22]:
df['max_floor'].value_counts()

5     1356
9     1009
4      501
14     448
10     325
16     261
12     193
6      165
11     152
7      121
13     101
15      80
3       61
8       58
17      45
18      41
19      17
21      16
23      14
22      14
2       12
20       6
1        4
Name: max_floor, dtype: int64

In [32]:
df['street'].value_counts()

Komitas Ave            255
Mashtots Ave           147
Tsarav Aghbyur St      113
Sayat Nova Ave         113
Mamikoniants St        106
                      ...
Fuchik 2 alley           1
Muradyan St              1
Vardanants alley         1
Alixanyan exbayrner      1
Nubarashen 5 St          1
Name: street, Length: 336, dtype: int64

In [43]:
if type(df.columns[1])==str:
    print(df.value_counts())

AttributeError: 'DataFrame' object has no attribute 'value_counts'

In [54]:
def val_counts(df, col):
    df_vc=pd.DataFrame(df[col].value_counts())
    df_vc.index.name=col
    df.columns=['count']
    return df_vc

In [58]:
val_counts(df,df.columns)

AttributeError: 'DataFrame' object has no attribute 'value_counts'

In [57]:
df[df.columns]

,price,condition,district,max_floor,street,num_rooms,area,num_bathrooms,building_type,floor,ceiling_height
0,130000.0,newly repaired,Center,4,Sayat Nova Ave,3,96.0,1,stone,3,3.2
1,65000.0,good,Arabkir,5,Hr.Kochar St,3,78.0,1,stone,2,2.8
2,129000.0,good,Center,10,M.Khorenatsi St,3,90.0,1,panel,3,2.8
3,52000.0,newly repaired,Center,14,Argishti St,2,53.0,1,monolit,5,3.0
4,65000.0,newly repaired,Center,12,Mashtots Ave,2,47.0,1,panel,3,2.8
...,...,...,...,...,...,...,...,...,...,...,...
4995,56000.0,good,Davtashen,16,Davtashen 3 district,3,100.0,1,panel,8,2.8
4996,115000.0,good,Arabkir,6,Adonts St,3,135.0,1,stone,5,2.8
4997,127000.0,newly repaired,Center,9,Yekmalyan St,3,73.0,2,monolit,3,3.0
4998,41800.0,good,Center,5,D. Demirchyan St,1,48.0,1,stone,1,2.8
4999,36000.0,good,Malatia-Sebastia,14,Z.Andranik St,3,96.0,1,panel,14,2.8